<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
</head>

<body>

    <h1>Create a Product</h1>

    <a href="{% url 'index' %}"><button>Go back to Product List</button></a><br><br>

    <form method="POST" action="{% url 'create' %}">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
    
        <label for="variant">Variant:</label>
        <input type="number" id="variant" name="variant" required><br><br>
    
        <label for="qty">Quantity:</label>
        <input type="number" id="qty" name="qty" required><br><br>
    
        <label for="price">Price:</label>
        <input type="number" step="0.01" id="price" name="price" required><br><br>
    
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>
    
        <input type="submit" value="Submit">
    </form>

</body>

</html>