<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List / Index Page</title>
</head>

<body>

    <a href="{% url 'index' %}"><h1> Product List </h1></a><br><br>

    <a href="{% url 'create' %}"><button>Create Product</button></a><br><br>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Variant</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Description</th>

            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.variant }}</td>
                <td>{{ product.qty }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>

                <td>View</td>
                <td><a href="{% url 'update' product.id %}">Edit</a></td>
                <td>Delete</td>
            </tr>
        {% endfor %}
    </table>

</body>

</html>