<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Product</title>
</head>

<body>

    <a href="{% url 'view' product.id %}"><h1> Product Details </h1></a><br><br>

    <a href="{% url 'index' %}"><button>Go back to Product List</button></a><br><br>

    <h1>{{ product.name }} Details</h1>

    <p>ID: {{ product.id }}</p>
    <p>Name: {{ product.name }}</p>
    <p>Variant: {{ product.variant }}</p>
    <p>Qty: {{ product.qty }}</p>
    <p>Price: ${{ product.price }}</p>
    <p>Description: {{ product.description }}</p>
    
    <a href="{% url 'update' product.id %}">Edit</a><br>
    <form action="{% url 'delete' product.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>

</body>

</html>